{% load static %}
<!DOCTYPE html>
{% include 'header.html' %}
{% csrf_token %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elementos</title>
</head>
<body>
    <div class="table-container">
        <!-- Filtros -->
        <h1 class="custom-title">Registros de elementos</h1>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="search-box">Buscar:</label>
                <input id="search-box" type="text" class="form-control" placeholder="Buscar elementos...">
            </div>
            <div class="col-md-4">
                <br/>
                <button class="btn btn-success" onclick="addElement()">
                    Añadir elementos
                </button>

                <button class="btn btn-success" onclick="addCurv()">
                    Añadir curvatura
                </button>
                
                <button class="btn btn-info" onclick="window.location.href = '/ODT'">
                    Atrás
                </button>
                <br/>
            </div>
        </div>
        <br/>
        <!-- Verificar si hay elementos -->
        {% if elementos %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead style="background-color: #002d72; color: rgb(255, 255, 255);">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Gramos</th>
                    <th scope="col">Miligramos</th>
                    <th scope="col">Curvatura de Cliente</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody id="element-table-body">
                {% for item in elementos %}
                    <tr class="{% if item.enabled %}active{% else %}inactive{% endif %}">
                        <td><h3>{{ item.nombre }}</h3></td>
                        <td><h3>{{ item.gramos|floatformat:0 }}</h3></td>
                        <td><h3>{{ item.miligramos|floatformat:0 }}</h3></td>
                        <td class="text-align-left">
                            {% for curvatura in item.curvaturas %}
                                <div class="align-items-left">
                                    <span class="text-align-left">{{ curvatura.cliente.nombre }}: C-{{ curvatura.curvatura }}</span>
                                    <button class="btn btn-primary btn-sm curvatura-btn" 
                                            data-curvatura-id="{{ curvatura.id }}">
                                        Modificar
                                    </button>
                                    <br/><br/>
                                </div>
                            {% empty %}
                                <div>No tiene curvaturas asociadas</div>
                            {% endfor %}
                        </td>
                        <td>
                            <button class="btn btn-primary action-btn" data-id="{{ item.id }}">Modificar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Sin elementos asignados al sistema.
    </div>
{% endif %}
    </div>

    <script>
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $(document).ready(function() {
            $('#filter-type').on('change', function() {
                filterElements();
            });
        
            $('#filter-enabled').on('change', function() {
                filterElements();
            });
        
            $('#search-box').on('input', function() {
                searchElements();
            });
        
            $('.action-btn').on('click', function() {
                const elementId = $(this).data('id');;
                const urlDat = '/MasterData/';
                const Token = csrfToken;
                const context = 'element'; 
                const action = 'mod'; 
                const stade = "acces"; 
                $.ajax({
                    url: urlDat,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': Token
                    },
                    data: {
                        'id': elementId,
                        'context': context,
                        'action': action,
                        'stade': stade
                    },
                    success: function(response) {
                        if (response.redirect_url) {
                            window.location.href = response.redirect_url; 
                        } else {
                            console.log(response.message);
                        }
                    },
                    error: function(xhr) {
                        console.error('Error al enviar datos:', xhr.responseText);
                    }
                });
              
            });

            $('.curvatura-btn').on('click', function() {
                const curvaturaId = $(this).data('curvatura-id');
                const urlDat = '/MasterData/';
                const Token = csrfToken;
                const context = 'curv'; 
                const action = 'mod'; 
                const stade = "acces"; 
                $.ajax({
                    url: urlDat,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': Token
                    },
                    data: {
                        'id': curvaturaId,
                        'context': context,
                        'action': action,
                        'stade': stade
                    },
                    success: function(response) {
                        if (response.redirect_url) {
                            window.location.href = response.redirect_url; 
                        } else {
                            console.log(response.message);
                        }
                    },
                    error: function(xhr) {
                        console.error('Error al enviar datos:', xhr.responseText);
                    }
                });
            });

        });

        function filterElements() {
            const typeFilter = $('#filter-type').val();
            const url = new URL(window.location.href);
            url.searchParams.set('tipo', typeFilter);
            window.location.href = url.toString();
        }

        function searchElements() {
            const searchTerm = $('#search-box').val().toLowerCase();
            $('#element-table-body tr').each(function() {
                const cells = $(this).find('td');
                const matches = cells.toArray().some(cell => $(cell).text().toLowerCase().includes(searchTerm));
                $(this).toggle(matches);
            });
        }

    
        function addElement()
        {
            const elementId = -1;
            const urlDat = '/MasterData/';
            const Token = csrfToken;
            const context = 'element'; 
            const action = 'add'; 
            const stade = "acces"; 
            $.ajax({
                url: urlDat,
                type: 'POST',
                headers: {
                    'X-CSRFToken': Token
                },
                data: {
                    'id': elementId,
                    'context': context,
                    'action': action,
                    'stade': stade
                },
                success: function(response) {
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url; 
                    } else {
                        console.log(response.message);
                    }
                },
                error: function(xhr) {
                    console.error('Error al enviar datos:', xhr.responseText);
                }
            });
        }

        function addCurv()
        {
            const elementId = -1;
            const urlDat = '/MasterData/';
            const Token = csrfToken;
            const context = 'curv'; 
            const action = 'add'; 
            const stade = "acces"; 
            $.ajax({
                url: urlDat,
                type: 'POST',
                headers: {
                    'X-CSRFToken': Token
                },
                data: {
                    'id': elementId,
                    'context': context,
                    'action': action,
                    'stade': stade
                },
                success: function(response) {
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url; 
                    } else {
                        console.log(response.message);
                    }
                },
                error: function(xhr) {
                    console.error('Error al enviar datos:', xhr.responseText);
                }
            });
        }



    </script>
</body>

{% include 'Footer.html' %}

</html>