{% load static %}
<!DOCTYPE html>
{% include 'header.html'%}
{% csrf_token %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODT Display</title>
</head>
<body>
    <h1 class="custom-title">Hoja de trabajo</h1>
    <div class="container">
        <div class="row">
            <div class="col filters">
                <div class="row mb-3">
                    <div class="col-md-6 mb-3">
                        <label for="filter-state">Estado:</label>
                        <p>
                            <input type="radio" name="estado" value="Pendiente" {% if request.GET.estado == 'Pendiente' %}checked{% endif %}> Pendientes 
                            <input type="radio" name="estado" value="Cerrado" {% if request.GET.estado == 'Cerrado' %}checked{% endif %}> Cerradas 
                            <input type="radio" name="estado" value="Todas" {% if request.GET.estado == 'Todas' %}checked{% endif %}> Todas
                        </p>
                    </div>
            
                    <div class="col-md-6 mb-3">
                        <label for="search-box">Buscar:</label>
                        <div class="input-group">
                            <input id="search-box" type="text" class="form-control" placeholder="Buscar Nro Hoja..." value="{{ request.GET.search }}">
                        </div>
                    </div>
            
                    <div class="col-md-6 mb-3">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <button class="btn btn-primary" onclick="applyFilters()">Filtrar Órdenes</button>
                            <button class="btn btn-info" onclick="window.location.href = '/Puesto-trabajo/'">
                                Atrás
                            </button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="table-container table-responsive">
        <table class="table table-bordered">
            <thead style="background-color: #002d72; color: rgb(255, 255, 255);">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nro Hoja de Trabajo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">ODT</th>
                    <th scope="col">Estandar</th>
                    <th scope="col">Método de Análisis</th>
                    <th scope="col">Muestra Masificada</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Duplicado</th>
                </tr>
            </thead>
            <tbody>
                {% for ht in hts %}
                <tr data-ht-id="{{ ht.ID_HDT }}">
                    <td>{{ ht.id }}</td>
                    <td>{{ ht.ID_HDT }}</td>
                    <td>
                        {% if ht.confirmar_balanza %}
                            Cerrado
                        {% else %}
                            Pendiente
                        {% endif %}
                    </td>
                    <td>{{ ht.odt }}</td>
                    <td>
                        {% if ht.Estandar.all %}
                            {% for estandar in ht.Estandar.all %}
                                {{ estandar.Nombre }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Ninguno
                        {% endif %}
                    </td>
                    <td>{{ ht.MetodoAnalisis }}</td>
                    <td>{{ ht.MuestraMasificada }}</td>
                    <td>{{ ht.Tipo }}</td>
                    <td>{{ ht.Duplicado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>          
    </div>
    {% include 'Footer.html' %}
    
    <script>
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        
        document.querySelectorAll('tr[data-ht-id]').forEach(row => {
            row.addEventListener('click', function () {
                var htId = this.getAttribute('data-ht-id');
        
                // Muestra el SweetAlert con tres opciones
                Swal.fire({
                    title: 'Selecciona una opción',
                    text: `¿Qué deseas hacer con esta hoja de trabajo ${htId}?`,
                    icon: 'question',
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Ver Información',
                    footer: `
                        <button id="balanzaButton" class="swal2-confirm btn btn-primary" style="margin-right: 10px;">Balanza</button>
                        <button id="absorcionButton" class="swal2-confirm btn btn-secondary">Absorción</button>
                    `,
                    customClass: {
                        actions: 'swal2-actions'
                    },
                    willOpen: () => {
                
                        document.getElementById('balanzaButton').addEventListener('click', function () {

                            const form = document.createElement('form');
                            form.method = 'POST';
                            form.action = '/Balanza/';
        
                            const csrfInput = document.createElement('input');
                            csrfInput.type = 'hidden';
                            csrfInput.name = 'csrfmiddlewaretoken';
                            csrfInput.value = csrfToken;
                            form.appendChild(csrfInput);
                        
                            const idInput = document.createElement('input');
                            idInput.type = 'hidden';
                            idInput.name = 'id';
                            idInput.value = htId;
                            form.appendChild(idInput);
                        
                            document.body.appendChild(form);
                            form.submit(); 
                        });
                
                        document.getElementById('absorcionButton').addEventListener('click', function () {
                            const form = document.createElement('form');
                            form.method = 'POST';
                            form.action = '/Puesto-Absorcion/';
        
                            const csrfInput = document.createElement('input');
                            csrfInput.type = 'hidden';
                            csrfInput.name = 'csrfmiddlewaretoken';
                            csrfInput.value = csrfToken;
                            form.appendChild(csrfInput);
                        
                            const idInput = document.createElement('input');
                            idInput.type = 'hidden';
                            idInput.name = 'id';
                            idInput.value = htId;
                            form.appendChild(idInput);
                        
                            document.body.appendChild(form);
                            form.submit(); 
                        });
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la petición AJAX para obtener la información de la hoja de trabajo
                        fetch(`/Get-HDT/?id=${htId}`)
                            .then(response => response.json())
                            .then(data => {
                                if (data.muestras && data.muestras.length > 0) {
                                    let tablaHTML = `
                                        <div style="overflow-x: auto;"> <!-- Contenedor con desplazamiento -->
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Muestra Masificada</th>
                                                        <th>Estado</th>
                                                        <th>Estandar</th>
                                                        <th>Método de Análisis</th>
                                                        <th>Tipo</th>
                                                        <th>Duplicado</th>
                                                        <th>Elementos</th>
                                                        <th>Peso y Elemento</th> <!-- Nueva columna para el peso y el elemento -->
                                                    </tr>
                                                </thead>
                                                <tbody>`;

                                    // Agregar cada fila de datos
                                    data.muestras.forEach(muestra => {
                                        // Concatenar los elementos en una sola línea de texto con salto de línea
                                        let elementosText = muestra.elementos.map(elemento => 
                                            `${elemento.nombre} (${elemento.gramos}g / ${elemento.miligramos}ml)`
                                        ).join('<br/>'); // Usa <br/> para salto de línea entre elementos

                                        // Agregar salto de línea en peso y elemento
                                        let pesoElementoText = muestra.peso_elemento.split(', ').join('<br/>');

                                        tablaHTML += `
                                            <tr>
                                                <td>${muestra.muestra_masificada}</td>
                                                <td>${muestra.estado}</td>
                                                <td>${muestra.estandar}</td>
                                                <td>${muestra.metodo_analisis}</td>
                                                <td>${muestra.tipo}</td>
                                                <td>${muestra.duplicado}</td>
                                                <td>${elementosText}</td>
                                                <td>${pesoElementoText}</td> <!-- Mostrar el peso y el elemento con salto de línea -->
                                            </tr>`;
                                    });

                                    tablaHTML += `</tbody></table></div>`;
    
        
                                    // Mostrar la tabla dentro de un SweetAlert2 responsivo
                                    Swal.fire({
                                        title: 'Información de la Hoja de Trabajo ' + htId,
                                        html: tablaHTML,
                                        width: '80%',
                                        showCancelButton: true,
                                        confirmButtonText: 'Cerrar',
                                        customClass: {
                                            popup: 'big-swal', // Clase personalizada para el popup grande
                                        }
                                    });
                                } else {
                                    Swal.fire('No se encontraron datos', 'No se encontraron muestras para esta Hoja de Trabajo.', 'warning');
                                }
                            })
                            .catch(error => {
                                console.error('Error al obtener la información:', error);
                                Swal.fire('Error', 'Hubo un problema al obtener la información. Intenta nuevamente.', 'error');
                            });
                    }
                });
            });
        });


    
        function applyFilters() {
            var search = document.getElementById('search-box').value;
            var estado = document.querySelector('input[name="estado"]:checked') ? document.querySelector('input[name="estado"]:checked').value : ''; // Obtener el valor del radio seleccionado
        
            var url = new URL(window.location.href);
            url.searchParams.set('search', search);
            if (estado) {
                url.searchParams.set('estado', estado);
            }
            window.location.href = url.toString();
        }

    </script>
</body>
</html>