{% load static %}
<!DOCTYPE html>
{% include 'header.html'%}
{% csrf_token %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODT Display</title>
    <style>
       
        .button-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            width: 100%;
        }

        .container {
            margin-top: 20px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Centra los elementos en la fila */
        }

        .col {
            margin: 0 10px;
        }

        .filters,
        .actions,
        .add-odt {
            background-color: #f5f7fa;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .filters {
            min-width: 400px; /* Tamaño mínimo mayor */
            max-width: 600px; /* Tamaño máximo mayor para que pueda extenderse más */
        }

        .actions {
            width: 200px; /* Tamaño fijo menor */
            text-align: center;
        }

        .add-odt {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px; /* Tamaño fijo menor */
        }
    </style>
</head>
<body>
    <h1 class="custom-title">Hoja de trabajo</h1>

    <div class="container">
        <div class="row">
        
            <!-- Columna de acciones (más pequeña) -->
            <div class="col actions">
                <!-- Botones de análisis y gestión -->
                <div class="button-grid">
                    <!-- Botón -->
                    <a href="" class="btn btn-primary">
                        Exportar documento
                    </a>
                </div>
            </div>
            <!-- Columna de filtros (más grande y centrada) -->
            <div class="col filters">
                <!-- Filtros -->
                <div class="row mb-3">
                    <!-- Filtro por año -->
                    <div class="col-md-6 mb-3">
                        <label for="filter-state">Estado:</label>
                        <p>
                            <input type="radio" name="estado" value="Pendiente" {% if request.GET.estado == 'Pendiente' %}checked{% endif %}> Pendientes 
                            <input type="radio" name="estado" value="Cerrado" {% if request.GET.estado == 'Cerrado' %}checked{% endif %}> Cerradas 
                            <input type="radio" name="estado" value="Todas" {% if request.GET.estado == 'Todas' %}checked{% endif %}> Todas
                        </p>
                    </div>
            
                    <!-- Búsqueda por palabra clave -->
                    <div class="col-md-6 mb-3">
                        <label for="search-box">Buscar:</label>
                        <div class="input-group">
                            <input id="search-box" type="text" class="form-control" placeholder="Buscar Nro Hoja..." value="{{ request.GET.search }}">
                        </div>
                    </div>
            
                    <div class="col-md-6 mb-3">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <button class="btn btn-primary" onclick="applyFilters()">Filtrar Órdenes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Columna para añadir ODT (sin cambios) -->
            <div class="col add-odt">
                <!-- Botón para añadir ODT -->
                <button class="btn btn-primary" onclick="AddODT()">
                    Añadir Hoja de Trabajo
                </button>
            </div>
        </div>
    </div>

    <div class="table-container table-responsive">
        <table class="table table-bordered">
            <thead style="background-color: #002d72; color: rgb(255, 255, 255);">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nro Hoja de Trabajo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">ODT</th>
                    <th scope="col">Estandar</th>
                    <th scope="col">Método de Análisis</th>
                    <th scope="col">Muestra Masificada</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Duplicado</th>
                </tr>
            </thead>
            <tbody>
                {% for ht in hts %}
                <tr data-ht-id="{{ ht.id }}">
                    <td>{{ ht.id }}</td>
                    <td>{{ ht.ID_HDT }}</td>
                    <td>
                        {% if ht.confirmar_balanza %}
                            Cerrado
                        {% else %}
                            Pendiente
                        {% endif %}
                    </td>
                    <td>{{ ht.odt }}</td>
                    <td>
                        {% for estandar in ht.Estandar.all %}
                            {{ estandar }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ ht.MetodoAnalisis }}</td>
                    <td>{{ ht.MuestraMasificada }}</td>
                    <td>{{ ht.Tipo }}</td>
                    <td>{{ ht.Duplicado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>          
    </div>
    {% include 'Footer.html' %}
    
    <script>
        

        // Script para manejar clic en filas de la tabla

        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        // Script para manejar clic en filas de la tabla
        document.addEventListener('DOMContentLoaded', function () {
            const rows = document.querySelectorAll('tbody tr');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    const odtId = this.getAttribute('data-odt-id');
                    if (odtId) {
                        const form = document.createElement('form');
                        form.method = 'POST';
                        form.action = '/ODT-info/';
                        form.style.display = 'none'; // Para evitar que el formulario se vea
                        form.innerHTML = `<input type="hidden" name="odt_id" value="${odtId}">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">`;
                        document.body.appendChild(form);
                        form.submit();
                    }
                });
            });
        });


        function AddODT()
        {
            const elementId = -1;
            const urlDat = '/MasterData/';
            const Token = csrfToken;
            const context = 'ODT'; 
            const action = 'add'; 
            const stade = "acces"; 
            $.ajax({
                url: urlDat,
                type: 'POST',
                headers: {
                    'X-CSRFToken': Token
                },
                data: {
                    'id': elementId,
                    'context': context,
                    'action': action,
                    'stade': stade
                },
                success: function(response) {
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url; 
                    } else {
                        console.log(response.message);
                    }
                },
                error: function(xhr) {
                    console.error('Error al enviar datos:', xhr.responseText);
                }
            });
        }

        function applyFilters() {
            var search = document.getElementById('search-box').value;
            var estado = document.querySelector('input[name="estado"]:checked') ? document.querySelector('input[name="estado"]:checked').value : ''; // Obtener el valor del radio seleccionado
        
            var url = new URL(window.location.href);
            url.searchParams.set('search', search);
            if (estado) {
                url.searchParams.set('estado', estado);
            }
            window.location.href = url.toString();
        }

    </script>
</body>
</html>