{% load static %}
<!DOCTYPE html>
{% include 'header.html'%}
{% csrf_token %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODT Display</title>
    <style>
       
        .button-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            width: 100%;
        }

        .container {
            margin-top: 20px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Centra los elementos en la fila */
        }

        .col {
            margin: 0 10px;
        }

        .filters,
        .actions,
        .add-odt {
            background-color: #f5f7fa;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .filters {
            min-width: 400px; /* Tamaño mínimo mayor */
            max-width: 600px; /* Tamaño máximo mayor para que pueda extenderse más */
        }

        .actions {
            width: 200px; /* Tamaño fijo menor */
            text-align: center;
        }

        .add-odt {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px; /* Tamaño fijo menor */
        }
    </style>
</head>
<body>
    <h1 class="custom-title">Hoja de trabajo</h1>

    <div class="container">
        <div class="row">
        
            <!-- Columna de acciones (más pequeña) -->
            <div class="col actions">
                <!-- Botones de análisis y gestión -->
                <div class="button-grid">
                    <!-- Botón -->
                    <a href="" class="btn btn-primary">
                        Exportar documento
                    </a>
                </div>
            </div>
            <!-- Columna de filtros (más grande y centrada) -->
            <div class="col filters">
                <!-- Filtros -->
                <div class="row mb-3">
                    <!-- Filtro por año -->
                    <div class="col-md-6 mb-3">
                        <label for="filter-year">Estado:</label>
                        <p><input type="radio" name="Pendientes" value="h">Pendientes <input type="radio" name="Cerradas" value="m">Cerradas <input type="radio" name="Todas" value="m">Todas</p>
                    </div>
            
                    <!-- Búsqueda por palabra clave -->
                    <div class="col-md-6 mb-3">
                        <label for="search-box">Buscar:</label>
                        <div class="input-group">
                            <input id="search-box" type="text" class="form-control" placeholder="Buscar Nro Hoja..." value="{{ request.GET.search }}">
                        </div>
                    </div>
            
                    <div class="col-md-6 mb-3">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <button class="btn btn-primary" onclick="applyFilters()">Filtrar Órdenes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Columna para añadir ODT (sin cambios) -->
            <div class="col add-odt">
                <!-- Botón para añadir ODT -->
                <button class="btn btn-primary" onclick="AddODT()">
                    Añadir Hoja de Trabajo
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <section class="intro">
            <div class="bg-image h-100" style="background-color: #f5f7fa;">
                <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body p-0">
                                        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                            <table class="table table-striped mb-0">
                                                <thead style="background-color: #002d72; color: rgb(255, 255, 255);">
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Nro HT</th>
                                                        <th scope="col">Fec HT</th>
                                                        <th scope="col">Analisis</th>
                                                        <th scope="col">Cant Muestras</th>
                                                        <th scope="col">OT Cliente</th>
                                                        <th scope="col">Cliente</th>
                                                        <th scope="col">OT</th>
                                                        <th scope="col">Proyecto</th>
                                                        <th scope="col">Envío</th>
                                                        <th scope="col">En uso por</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for odt in odts %}
                                                    <tr data-odt-id="{{ odt.id }}">
                                                        <td>{{ odt.id_ht }}</td>
                                                        <td>{{ odt.nro_ht }}</td>
                                                        <td>{{ odt.fec_ht }}</td>
                                                        <td>{{ odt.analisis }}</td>
                                                        <td>{{ odt.cant_muestras }}</td>
                                                        <td>{{ odt.ot_cliente }}</td>
                                                        <td>{{ odt.cliente }}</td>
                                                        <td>{{ odt.odt }}</td>
                                                        <td>{{ odt.proyecto }}</td>
                                                        <td>{{ odt.envio }}</td>
                                                        <td>{{ odt.en_uso_por }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'Footer.html' %}
    
    <script>
        

        // Script para manejar clic en filas de la tabla

        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        // Script para manejar clic en filas de la tabla
        document.addEventListener('DOMContentLoaded', function () {
            const rows = document.querySelectorAll('tbody tr');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    const odtId = this.getAttribute('data-odt-id');
                    if (odtId) {
                        const form = document.createElement('form');
                        form.method = 'POST';
                        form.action = '/ODT-info/';
                        form.style.display = 'none'; // Para evitar que el formulario se vea
                        form.innerHTML = `<input type="hidden" name="odt_id" value="${odtId}">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">`;
                        document.body.appendChild(form);
                        form.submit();
                    }
                });
            });
        });


        function AddODT()
        {
            const elementId = -1;
            const urlDat = '/MasterData/';
            const Token = csrfToken;
            const context = 'ODT'; 
            const action = 'add'; 
            const stade = "acces"; 
            $.ajax({
                url: urlDat,
                type: 'POST',
                headers: {
                    'X-CSRFToken': Token
                },
                data: {
                    'id': elementId,
                    'context': context,
                    'action': action,
                    'stade': stade
                },
                success: function(response) {
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url; 
                    } else {
                        console.log(response.message);
                    }
                },
                error: function(xhr) {
                    console.error('Error al enviar datos:', xhr.responseText);
                }
            });
        }

        function applyFilters() {
            // Obtener los valores de los filtros
            var search = document.getElementById('search-box').value;
        
            // Construir la URL de la solicitud con los parámetros de búsqueda y filtro
            var url = new URL(window.location.href);
            url.searchParams.set('search', search);
        
            // Redirigir a la nueva URL con los parámetros de filtro aplicados
            window.location.href = url.toString();
        }

    </script>
</body>
</html>